* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;

}


/* NAVIGATION BAR */
nav {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 220px;
    height: calc(100vh - 80px);
    padding: 15px;
    background-color: #000000;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}
/* _______________________________________________ */
a {
    color: #666666;
    text-decoration: none;
}
/* _______________________________________________ */
a:hover {
    color: white;
}
/* _______________________________________________ */
h5 {
    color: white;
}
/* _______________________________________________ */
hr {
    border: 1px solid #383838;
    margin: 10px 0;
}
/* _______________________________________________ */
.left-row, .add-playlist-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* _______________________________________________ */
.playlist-col, .search-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _______________________________________________ */
.add-playlist-button {
    background-color: #a3a3a3;
    padding: 8px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
/* _______________________________________________ */
img[src*=logo] {
    width: 70%;
}
/* _______________________________________________ */
img[src*=profile] {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #666666;
}
/* _______________________________________________ */
#go-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
/* _______________________________________________ */
#profile {
    color: white;
}
/* /NAVIGATION BAR */

section {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    background-color: #141922;
}

.gay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 80px 80px 30px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* .go-premium {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 220px);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 20px;
    background-color: #080b12;
    opacity: 0.8;
}

.upgrade-button {
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.music-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
    font-size: 10px;
    font-weight: bold;
} */




.player {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 80px;
    background-color: #222222;
}
/* __________________________________________________ */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}