* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;

}

.common-hover-button {
    padding-left: 15px;
}

/* SCROLL BAR CUSTOM */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #141922;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #141922;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}
/* /SCROLL BAR CUSTOM */


/* NAVIGATION BAR */
nav {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 220px;
    height: calc(100vh - 80px);
    padding: 15px 0;
    background-color: #000000;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}
/* _______________________________________________ */
a {
    color: #666666;
    text-decoration: none;
}
/* _______________________________________________ */
a:hover {
    color: white;
}
/* _______________________________________________ */
h5 {
    color: white;
}
/* _______________________________________________ */
hr {
    border: 1px solid #383838;
    margin: 10px 10px;
}
/* _______________________________________________ */
.left-row, .add-playlist-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* _______________________________________________ */
.playlist-col, .search-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _______________________________________________ */
.add-playlist-button {
    background-color: #a3a3a3;
    padding: 8px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
/* _______________________________________________ */
img[src*=logo] {
    width: 70%;
}
/* _______________________________________________ */
img[src*=profile] {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #666666;
}
/* _______________________________________________ */
#go-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    color: white;
}
/* _______________________________________________ */
#profile {
    color: white;
}
/* HOVER NAV BAR */
.playlist-name:hover {
    border-left: 3px solid #87c62c;
}
/* /NAVIGATION BAR */



/* MIDDLE-ROW */
section {
    flex-grow: 1;
    width: 100vw;
    overflow-y: scroll;
    background-color: #141922;
}
/* _______________________________________________ */
.upgrade-row {
    display: flex;
}

 .go-premium {
    display: flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 20px;
    background-color: #080b12;
    opacity: 0.8;
}
/* _______________________________________________ */
.upgrade-button {
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 10px;
    font-weight: bold;
    color: white;
}
.upgrade-button:hover {
    transform: scale(1.1);
}
/* _______________________________________________ */
.music-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    margin-top: 90px;
    font-size: 10px;
    font-weight: bold;
}
/* _______________________________________________ */
.music-section:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #87c62c;
}
/* _______________________________________________ */
.middle-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 15px;
    color: white;
}
/* _______________________________________________ */
.recently-played, .created-for, .popular-artists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
/* _______________________________________________ */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    text-align: center;
    width: calc(100% / 6 - 20px);
    margin: 10px 10px;
    color: white;
    position: relative;
    text-align: center;
}
/* __________________________________________________ */
.img-shadow {
    position: relative;
}
/* __________________________________________________ */
.absolute {
    display: none;
    position: absolute;
    top: calc(50% - 35px);
    right: calc(50% - 25px);
    font-size: 50px;
    cursor: pointer;
}
/* __________________________________________________ */
.fit-img:hover, .fit-img-different:hover {
    filter:brightness(0.6);
    cursor: pointer;
}
/* __________________________________________________ */
.img-shadow:hover .absolute {
    display: inline-block;
}
/* _______________________________________________ */
.different-color {
    color: #bdbdbd;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 6px;
}
.different-color:hover {
    text-decoration: underline;
}
/* _______________________________________________ */
.fit-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.fit-img-different {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
}
/* _______________________________________________ */
.song-author:hover {
    text-decoration: underline;
}
/* /MIDDLE-ROW */



/* FOOTER */
.player {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 10px 10px;
    background-color: #222222;
    color: white;
    position: fixed;
}


/* LEFT CONTROLS */
.left-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 220px;
}
/* __________________________________________________ */
.current-song {
    width: 40px;
    height: 40px;
}
/* __________________________________________________ */
.song-name {
    display: flex;
    flex-direction: column;
    line-height: 12px;
}
/* __________________________________________________ */
#smaller {
    color: #6e6e6e;
    font-weight: bold;
    font-size: 9px;
}
/* __________________________________________________ */
.like-add {
    padding-left: 20px;
    font-size: 13px;
    color: #494949;
}
.like-add:hover {
    color: white;
}
/* /LEFT CONTROLS */



/* MIDDLE CONTROLS */
.middle-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    min-width: 200px;
    max-width: 540px;
}
/* __________________________________________________ */
.player-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* __________________________________________________ */
.player-controls-check:hover {
    cursor: pointer;
}
/* __________________________________________________ */
.more-bigger {
    font-size: 27px;
}
.more-bigger:hover {
    transform: scale(1.2);
}
/* __________________________________________________ */
.song-progression {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    font-size: 9px;
    width: 80%;
}
.big-volume-progress {
    width: 20%;
    background-color: white;
    height: 6px;
    border-radius: 25px;
}
.big-volume-progress:hover {
    background-color: #bcf55d;
    cursor: pointer;
}
/* __________________________________________________ */
.big-volume-bar {
    width: 80%;
    background-color: #5a5a5a;
    height: 6px;
    border-radius: 25px;
}
/* /MIDDLE CONTROLS */



/* RIGHT CONTROLS */
.right-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 220px;
}
/* __________________________________________________ */
.small-volume-progress {
    width: 20px;
    height: 4px;
    border-radius: 25px;
    position: absolute;
    background-color: white;
}
.small-volume-progress:hover {
    background-color: #bcf55d;
    cursor: pointer;
}
/* __________________________________________________ */
.small-volume-bar {
    width: 70px;
    height: 4px;
    border-radius: 25px;
    background-color: #5a5a5a;
}
/* /RIGHT CONTROLS */

/* /FOOTER */




/* MEDIA QUERY MEDIUM */
@media screen and (min-width:768px) and (max-width:991px) {

}
/* /MEDIA QUERY MEDIUM */




/* MEDIA QUERY SMALL */
@media screen and (min-width:576px) and (max-width:767px) {

}
/* /MEDIA QUERY SMALL */




/* MEDIA QUERY EXTRA-SMALL */
@media screen and (max-width:575px) {

}
/* MEDIA QUERY EXTRA-SMALL */