* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;

}

.common-hover-button {
    padding-left: 15px;
}

/* SCROLL BAR CUSTOM */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* /SCROLL BAR CUSTOM */


/* NAVIGATION BAR */
nav {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 220px;
    height: calc(100vh - 80px);
    padding: 15px 0;
    background-color: #000000;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}
/* _______________________________________________ */
a {
    color: #666666;
    text-decoration: none;
}
/* _______________________________________________ */
a:hover {
    color: white;
}
/* _______________________________________________ */
h5 {
    color: white;
}
/* _______________________________________________ */
hr {
    border: 1px solid #383838;
    margin: 10px 10px;
}
/* _______________________________________________ */
.left-row, .add-playlist-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* _______________________________________________ */
.playlist-col, .search-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _______________________________________________ */
.add-playlist-button {
    background-color: #a3a3a3;
    padding: 8px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
/* _______________________________________________ */
img[src*=logo] {
    width: 70%;
}
/* _______________________________________________ */
img[src*=profile] {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #666666;
}
/* _______________________________________________ */
#go-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    color: white;
}
/* _______________________________________________ */
#profile {
    color: white;
}
/* HOVER NAV BAR */
.playlist-name:hover {
    border-left: 3px solid #87c62c;
}
/* /NAVIGATION BAR */



/* MIDDLE-ROW */
section {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    background-color: #141922;
}
/* _______________________________________________ */
 .go-premium {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 190px);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 20px;
    background-color: #080b12;
    opacity: 0.8;
}
/* _______________________________________________ */
.upgrade-button {
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 10px;
    font-weight: bold;
    color: white;
}
.upgrade-button:hover {
    transform: scale(1.1);
}
/* _______________________________________________ */
.music-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
    font-size: 10px;
    font-weight: bold;
}
/* _______________________________________________ */
.music-section:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid #87c62c;
}
/* _______________________________________________ */
.middle-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 15px;
    color: white;
}
/* _______________________________________________ */
.recently-played, .created-for, .popular-artists {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
/* _______________________________________________ */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* _______________________________________________ */
.different-color {
    color: #bdbdbd;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 6px;
}
.different-color:hover {
    text-decoration: underline;
}
/* _______________________________________________ */
.fit-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}
.fit-img-different {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
}
/* _______________________________________________ */
.song-author:hover {
    text-decoration: underline;
}
/* /MIDDLE-ROW */



/* FOOTER */
.player {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: 80px;
    padding: 0 10px;
    background-color: #222222;
    color: white;
}
/* __________________________________________________ */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



/* LEFT CONTROLS */
.left-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* __________________________________________________ */
.current-song {
    width: 40px;
    height: 40px;
}
/* __________________________________________________ */
.song-name {
    display: flex;
    flex-direction: column;
    line-height: 12px;
}
/* __________________________________________________ */
#smaller {
    color: #6e6e6e;
    font-weight: bold;
    font-size: 9px;
}
/* __________________________________________________ */
.like-add {
    padding-left: 20px;
    font-size: 13px;
    color: #494949;
}
.like-add:hover {
    color: white;
}
/* __________________________________________________ */
.fa-folder {
    margin-left: 5px;
}
/* /LEFT CONTROLS */



/* MIDDLE CONTROLS */
.middle-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
/* __________________________________________________ */
.player-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* __________________________________________________ */
.fa-circle-play {
    font-size: 27px;
}
/* __________________________________________________ */
.song-progression {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 9px;
}
.big-volume-progress {
    width: 400px;
    padding: 2px;
    background-color: #5a5a5a;
    border-radius: 3px;
}
/* __________________________________________________ */
.big-volume-bar {
    width: 90px;
    padding: 2px;
    background-color: #c1c1c1;
    border-radius: 3px;
    position: absolute;
}
.big-volume-bar:hover {
    background-color: #bcf55d;
    cursor: pointer;
}
/* /MIDDLE CONTROLS */



/* RIGHT CONTROLS */
.right-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
}
/* __________________________________________________ */
.small-volume-progress {
    width: 100px;
    padding: 2px;
    background-color: #5a5a5a;
    border-radius: 3px;
}
/* __________________________________________________ */
.small-volume-bar {
    width: 20px;
    padding: 2px;
    background-color: #c1c1c1;
    border-radius: 3px;
    position: absolute;
}
.small-volume-bar:hover {
    background-color: #bcf55d;
    cursor: pointer;
}
/* /RIGHT CONTROLS */

/* /FOOTER */